@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
html, body{
	height:100%;
	overflow: auto;
}
ul,
li {
  list-style: none;
}


footer{
 padding-bottom: 16px;
 border-top: 3px solid #E8E8E8;
 background-color: #2A3A52;
 color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

#foot_info{
	font-size: 16px;
	margin: auto;
	display: flex;
	justify-content: center;
	color: #6E6E6E;
	
}
#foot_contents .company_info {
	display: block;
	font-size: 16px;
	color: #6E6E6E;
	margin: auto;
	display: flex;
	justify-content: center;
}

#foot_contents .company_info ul {
	border-bottom: 1px #E8E8E8;
	padding: 15px;
	display: inline-block;
	margin-left: 40px;
}


#bg_copy .copy_year {
	color: #6E6E6E;
	font-size: 12px;
	text-align: center;
	line-height: 17px;
}

.foot_menu ul li a{
	display: flex;
    justify-content: flex-end;
    max-width: 900px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #6E6E6E;
    font-weight: bold;
}
