@charset "UTF-8";

.item-sec{
	margin: 50px;
}

#itemsH1{
	margin-top: 24px;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

#issueH1{
	margin-top: 24px;
	font-size: 40px;
	font-weight: 700;
}